<app-selection-box></app-selection-box>

<div class="example-boundary">
  <div #container></div>
</div>

<hr />
<div>CurrentSelectedItemUID: {{ indexService.currentSelectedItemUID }}</div>
<div>isOverLapping: {{ isOverLapping}}</div>

<hr />

<div *ngFor="let item of indexService.mainArray">
  <div *ngFor="let property of item | keyvalue">
    {{ property.key }}:{{ property.value }}
  </div>
  <hr />
</div>

<hr />
<button (click)="addComponent()">Add Dynamic Component</button>

<div style="border: 2px solid rgb(11, 148, 172); padding: 20px; margin: 20px">
  <div>{{ myArray }}</div>
  <div>{{ myString }}</div>
</div>
<button (click)="removeComponent()">remove Component</button>
