<app-selection-box></app-selection-box>
<app-insertion-cross></app-insertion-cross>

<!-- <div>
  indexService.mouseDownOnElement: {{ indexService.mouseDownOnElement }}
</div>
<div>indexService.clickedOnElement: {{ indexService.clickedOnElement }}</div> -->

<!-- <div class="example-boundary"> -->
<div #container></div>

<div
  class="document-container"
  [style.top.px]="documentContainerTop"
  [style.left.px]="documentContainerLeft"
  [style.width.px]="documentContainerWidth"
></div>

<div style="position: absolute">
  <button
    style="width: 40px; height: 40px"
    *ngFor="let button of buttonsService.buttons"
    (click)="indexService.onClickMathButton($event, button)"
  >
    <div *ngIf="!button.displayContent">{{ button.content }}</div>
    <img
      style="max-width: 100%; max-height: 100%"
      *ngIf="button.displayContent"
      attr.src="{{ '../assets/math-quill-assets/' + button.displayContent }}"
      attr.alt="{{ button.content }}"
    />
  </button>
</div>

<!-- </div> -->
<!-- 
<hr />
<div>CurrentSelectedItemUID: {{ indexService.currentSelectedItemUID }}</div>
<div>isOverLapping: {{ isOverLapping}}</div>

<hr />

<div *ngFor="let item of indexService.mainArray">
  <div *ngFor="let property of item | keyvalue">
    {{ property.key }}:{{ property.value }}
  </div>
  <hr />
</div>

<hr />
<button (click)="addComponent()">Add Dynamic Component</button>

<div style="border: 2px solid rgb(11, 148, 172); padding: 20px; margin: 20px">
  <div>{{ myArray }}</div>
  <div>{{ myString }}</div>
</div>
<button (click)="removeComponent()">remove Component</button>
 -->
