<div
  class="grid-container"
  style="display: inline-block"
  [style.z-index]="customZIndex"
  (mousedown)="indexService.moveCompToTop(uid)"
  (mouseup)="indexService.setClickedOnElement(uid)"
  style="position: absolute"
  [style.background-color]="
    itemIsSelected ? 'rgba(96, 171, 239, 0.54)' : 'rgba(0, 0, 0, 0.0)'
  "
  [style.left.px]="dragPosition.x"
  [style.top.px]="dragPosition.y"
>
  <div
    class="topSection grabbable"
    (mousedown)="mouseDownOnItem = true"
    (mouseup)="mouseDownOnItem = false"
  ></div>
  <div
    class="leftSection grabbable"
    (mousedown)="mouseDownOnItem = true"
    (mouseup)="mouseDownOnItem = false"
  ></div>

  <div
    class="mainSection"
    (mousedown)="indexService.currentSelectedCurserInItemUID = uid"
    [class.cursorInMathieldDesign]="cursorInMathfield"
  >
    <span [attr.id]="'math-field-animated' + uid"></span>
    <span tabindex="0" [attr.id]="'substitue-id' + uid"></span>

    <div>itemIsSelected: {{ itemIsSelected }}</div>
    <div>mouseDownOnItem: {{ mouseDownOnItem }}</div>
    <div>cursorInMathfield: {{ cursorInMathfield }}</div>
  </div>

  <div
    class="rightSection grabbable"
    (mousedown)="mouseDownOnItem = true"
    (mouseup)="mouseDownOnItem = false"
  ></div>
  <div
    class="bottomSection grabbable"
    (mousedown)="mouseDownOnItem = true"
    (mouseup)="mouseDownOnItem = false"
  ></div>

  <!-- <div class="example-handle">drag</div> -->
  <!-- </div> -->

  <!-- <div class="example-handle" cdkDragHandle>drag</div> -->

  <!--   <div style="background-color: rgb(224, 255, 255);">
    z-index: {{ customZIndex }} // uid: {{ uid }}
  </div>
  <div>itemIsSelected: {{ itemIsSelected }}</div>

  <div>mouseDownOnItem: {{ mouseDownOnItem }}</div>

  <div class="example-handle" cdkDragHandle>drag</div>
  <button (click)="removeComponent(uid)">remove</button>

  <button (click)="logLatex()">logLatex</button> -->
  <!--  <button (click)="logLatex()">logLatex</button> -->
</div>

<!-- <div>cursorInMathfield: {{ cursorInMathfield }}</div>
<div>mouseDownOnItem: {{ mouseDownOnItem }}</div> -->
