<div
  style="
    border: 1px solid blue;
    display: inline-block;
    position: relative;
    background-color: rgb(241, 255, 255);
  "
  [style.z-index]="customZIndex"
  cdkDrag
  cdkDragBoundary=".example-boundary"
  [cdkDragFreeDragPosition]="dragPosition"
  (cdkDragEnded)="onDragEnded($event)"
  (click)="indexService.moveCompToTop(uid)"
>
  <p>Dynamic Component {{ uid }}</p>
  <div>{{ compInput }}</div>
  <hr />

  <div style="margin: 10px">
    <label for="item-input">Add String:</label>
    <input type="text" id="item-input" #newStringItem />
    <button (click)="putOutString(newStringItem.value)">
      send string parrent
    </button>
  </div>

  <!---------------------------------------------------------------------->
  <!-- <span id="math-field-animated"></span> -->
  <span [attr.id]="'math-field-animated' + uid"></span>
  <!---------------------------------------------------------------------->

  <div class="example-handle" cdkDragHandle>drag</div>
</div>
