<div
  style="
    display: inline-block;

    min-height: 150px;
    min-width: 150px;
  "
  [style.z-index]="customZIndex"
  cdkDrag
  cdkDragBoundary=".example-boundary"
  [cdkDragFreeDragPosition]="dragPosition"
  (cdkDragEnded)="onDragEnded($event)"
  (mousedown)="indexService.moveCompToTop(uid)"
  (mouseup)="indexService.setClickedOnElement()"
  style="position: absolute"
>
  <!--   <p>Dynamic Component {{ uid }}</p>
  <div>{{ compInput }}</div>
  <hr /> -->

  <span [attr.id]="'math-field-animated' + uid"></span>
  <span tabindex="0" [attr.id]="'substitue-id' + uid"></span>

  <div style="background-color: rgb(224, 255, 255)">
    z-index {{ customZIndex }} // uid: {{ uid }}
  </div>

  <div>xPosition: {{ xPosition }}</div>
  <div>yPosition: {{ yPosition }}</div>
  <div class="example-handle" cdkDragHandle>drag</div>
  <button (click)="removeComponent(uid)">remove</button>
</div>
