.selectBox {
  position: absolute;
  z-index: 1;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  background-color: rgba(38, 167, 255, 0.52);
}
